body{
    display:grid;
    place-items: center;
    padding: 3rem 0;
    background-color: #A3A3A8;
    min-height: 100vh;
}

*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-clr:#161616;
    --primary-rgba-7: rgba(0,0,0,.4);

    --secondary-clr: #fff9f9;
    --secondary-rgba-3: rgba(255,255,255,.3);
}

.card {
    background-color:#A3A3A8;
    width: clamp(300px,92vw, 400px);
    border-radius: 1rem;
    box-shadow: 0 0 .5rem #C0C0C0;
    overflow: hidden;
    margin: 0 auto;
}

.top {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem;
}

.light-dark-mode{
    width:40px;
    display: flex;
    aspect-ratio: 1;
    align-items: center;
    box-shadow: 0 0 .3rem #C0C0C0;
    color: white;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out color;
}

.light-dark-mode:active {
    transform: scale(.7);
}

.light-dark-mode:hover {
    color: var(--primary-clr);
    background-color: var(--secondary-clr);
}

.search-container {
    position:relative;
    width: 250px;
    height: 40px;
}

.search-container input{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    padding: 0 4rem 0 1rem;
    font-size: 1rem;
    border-radius: 100vw;
    border: none;
    box-shadow: 0 0 .3rem var(--secondary-rgba-3);
    background-color: transparent;
    color: #ffffff;
    transition: 200ms ease-in-out width,
                200ms ease-in-out padding;
}

.search-icon {
    right: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    aspect-ratio: 1;
    height: 40px;
    box-shadow: 0 0 .3rem var(--secondary-rgba-3);
    background-color: #A3A3A8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--secondary-clr);
    border-radius: 50%;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out color;
}

.search-icon:hover {
    color: var(--primary-clr);
    background-color: var(--secondary-clr);
}

.search-icon:active {
    transform: scale(0.7) translateY(-50%);
}

.fav-meals-container {
    text-align: center;
    color: #161616;
    box-shadow: 0 0 .3rem #A3A3A8;
    padding: 1rem;
}

.fav-meals {
    align-items: center;
    display: flex;
    width:auto;
    column-gap: 1rem;
    padding: .5rem;
    overflow-x: scroll;
    padding-bottom: 1rem;
}

.fav-meals-container h2 {
    margin: 1rem;
    font-weight: 450;
    text-shadow: 0 0 .4rem #A3A3A8;
}

.single {
    display:flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 80px;
    border-radius: .5rem;
    position: relative;
    transition: 200ms ease-in-out background-color;
}

.single .top{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
} 

.img-container {
    aspect-ratio: 1;
    width: 60px;
    margin-top: 0.5rem;
    overflow: hidden;
    border-radius: 50%;
    box-sizing: 0 0 .4rem #A3A3A8;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.text {
    margin: 0.5rem 0;
}

.text p {
   text-overflow: ellipsis; 
   width: 65px;
   overflow: hidden;
   white-space: nowrap;
   padding: 0 .5rem;
   font-size: .8rem;
   text-shadow: 0 0 .3rem #A3A3A8;
   user-select: none;
   transition: 200ms ease-in-out color;
}

.fa-x {
    color: #161616;
    background-color: #A3A3A8;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    padding: 0.5rem;
    width: 100%;
}

.single:hover {
    background-color: var(--secondary-clr);
}

.single:hover .img-container {
    box-shadow: 0 0 .4rem #161616;
}

.single:hover .text P {
    color: #000000;
    text-shadow: 0 0 .2rem #000000;
}

/* having multiple favorite meals*/

/* flexible scroll bar*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: #000000;
}

